body{
    object-fit: cover;
}
.main_nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    background: white;
    top: 0;
    
}
.main_nav_items{
    display: flex;
    align-items: center;
    list-style: none;
    
}
.nav_item{
    padding: 10px;
    text-decoration: none;
    color: black;
}
.nav_item:hover{
    text-decoration: underline;
    color: rgb(157, 65, 232);
    font-size: larger;
    transition: all 0.3s ease-in-out;
}
.logo{
    font-size: 30px;
    cursor: pointer;
}
.main_content{
    text-align: center;
    color: white;
    background-image: url(/documentos/wallpaper/cool-geometric-triangular-figure-in-a-neon-laser-light-great-for-backgrounds.jpg);
    height: 800px;
    background-size: cover;
    background-position: center;
    
}
.main_ul{
    display: flex;
    align-items: center;
    text-decoration: none;
    list-style: none;
    text-align: center;
    padding-left: 470px;
    padding-top: 0;
    padding-bottom: 20px;
}
@media (min-width: 600px) and (max-width: 800px){
.main_ul{
    padding-left: 100px;
}
} 
.content_background_img_h1{
    display: flex;
    flex-direction: column;
}
.main_item{
    padding: 6px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}
.main_item:hover{
    cursor: pointer;
    text-decoration: underline;
}
#main_h1{
    font-size: 90px;
    padding-top: 70px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 1000;
    padding-bottom: 0;
}
.main_content_btn{
    width: 20%;
    height: 40px;
    background: transparent;
    color: white;
    border: 1px solid white;
    transition: all 0.9ms ease-in-out;
    
    
}
.main_content_btn:hover{
    background: rgb(206, 97, 162);
    transform: scale(2px 4px);
    transition: all 1s ease-in-out;
    color: white;
    cursor: pointer;
    border: 1px solid white;
    
}
.benefits_title{
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 50;
    display: grid;
    grid-row: 1/1;
    grid-column: 8/9;
    color: white;

    
}
.benefits_kids{
    display: grid;
    height: 700px;
    grid-row-gap: 70px;
    background-image: url(/documentos/wallpaper/pov-of-happy-young-man-celebrating-his-victory-on-online-shooter-game-using-wireless-controller.jpg);
    background-size: cover;
     background-position: center;
}
.benefit_card{
    display: grid;
    grid-row: 3/3;
    grid-column: 8/9;
    width: 400px;
    height: 260px;
    background: rgb(220, 220, 233);
    padding-left: 1000;
    border: none;
    text-align: center;
    border-radius: 4px;
    
}
.benefit_card_title{
    font-size: 20px;
}
.benefits_card_btn{
height: 35px;
width: 140px;
background: rgb(168, 168, 237);
border: none;
border-radius: 3px;
justify-self: center;
margin-bottom: 1px;
}
.benefits_card_btn:hover{
    cursor: pointer;
    background-color: rgb(43, 43, 63) ;
    color: white;
    transition: all 0.8ms ease;
}
.game_section{
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: flex-end;
    height: 700px;
    background-image: url(/documentos/wallpaper/pexels-soumil-kumar-735911.jpg);
    background-size: cover;
    background-position: center;
   
}
.game_section_item1{
     display: flex;
     flex-direction: column;
    height: 100px;
    margin-right: 50px;
    padding: 10px;
    background: transparent;
    margin-top: 100px;
    border: 1px solid purple;
    color: white;
    


}
.game_section_item2{
     display: flex;
     flex-direction: column;
     padding: 10px;
     margin-top: 10px;
    height: 100px;
    background: transparent;
    margin-right: 50px;
    border: 1px solid purple;
    color: white;


}
.game_section_item3{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    height: 100px;
    background: transparent;
    margin-right: 50px;
    border: 1px solid purple;
    color: white;

}
.game_sectionh5{
    font-size: 25px;
    padding: 0px;
    margin: 3px;
}
.game_sectionp{
    font-size: 17px;
    margin: 0px;
}
.img_foot{
    height:500px;
    width: 350px;
    object-fit: cover;
}


.footer_contact{
    display: flex;
    justify-content: center;
    height: 600px;
    background: rgb(31, 36, 38);
}
.pic_and_contact{
    display: flex;
    height: 500px;
    border: 1px solid black;
    padding: 100px 200px;
    background: white;

}
.imgs{
    margin: 10px;
}
.contact{
    display: flex;
    flex-direction: column;
}
.footer_inputs{
    list-style: none;
}
.contact_form{
    font-size: 37px;
    margin-left: 42px;
}
.follow_footer_links{
    display: flex;
    flex-direction: row;
}
.footer_links_ull{
    list-style: none;
    display: flex;
    align-items: center;
    
}
.links_il{
    padding: 4px;
    font-size: 30px;
    color: black;
}
.links_il:hover{
    color: rgb(144, 144, 195);
}
.follow_us{
    font-size: 25px;
}
.inputs_contact_il{
    margin: 5px;
    padding: 4px;
    width: 250px;

}
#mensagem_input{
    height: 80px;
}
.footer_submit_btn{
    margin-left: 46px;
    background: rgb(128, 193, 234);
    height: 50px;
    border: none;
    font-size: 24px;
    font-weight: 50;
}
.footer_submit_btn:hover{
    background: rgb(79, 157, 186);
    color: white;
    cursor: pointer;
}
.last_content{
    background: rgb(31, 36, 38);
    height: 200px;
}

.animations{
    animation: fly 4s linear infinite alternate;
    background: rgb(220, 139, 224);
    height: 4px;
    width: 200px;
    animation-iteration-count: infinite;
    
 
}

@keyframes fly{
    0% {
        transform: translateX(0);
    }
   
    100%{
        transform: translateX(calc(1160px));
    }
}